<div class="things-to-know-container">
    <div class="thingsToKnowImg">
        <img src="assets/images/things-to-know.jpg" alt="">
    </div>
    <div class="things-to-know-header">
        <h1 class="header-couple-names">Rolandi & Dylan</h1>
        <div class="header-wedding-date-location">December 16, 2023</div>
    </div>
    <div class="things-to-know-body">
        <div class="section-container">
            <div class="section-info"><strong>WEDDING GIFTS</strong></div>
            <div class="section-info">"Sou u n geskenkie wou koop, Spaar u self die baie loop. Bere die nooitjie in die kas en kom gooi dit in ons huwelikstas"</div>
        </div>
        <div class="section-container">
            <div class="section-info"><strong>WHAT TO WEAR</strong></div>
            <div class="section-info">The dress code for the wedding is smart casual. Bear in mind the lodge is on a farm.</div>
        </div>
        <div class="section-container">
            <div class="section-info"><strong>BAR SERVICES</strong></div>
            <div class="section-info">Please note that there will be a fully stocked bar at the venue available. Please! No outside drinks or food allowed.</div>
        </div>
    </div>
</div>
